<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>NSDocumentsFolderUsageDescription</key>
   <string>Necessário para guardar ficheiros de áudio misturados</string>
   <key>NSMicrophoneUsageDescription</key>
   <string>Necessário para aceder aos ficheiros de áudio</string>
</dict>
</plist>
